/* =========================================
   Utility Classes
   ========================================= */
.min-100-dvh {
  min-height: 100vh;
  min-height: 100dvh;
}

.min-height-300 {
  min-height: 300px;
}

.max-height-300 {
  max-height: 300px;
}

.center-content {
  position: relative;
}

.center-content > :first-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body.select-costum ::selection {
  background: rgba(255, 255, 255, 0.15) !important;
}

body.on-grabbing {
  cursor: grabbing;
}

.resizeable {
  resize: both;
}

.resize-cursor {
  cursor: nwse-resize !important;
}

[data-action="move"],
.imgmap-edit-item {
  touch-action: none;
}

body:not(.on-grabbing) [data-action="move"] {
  cursor: grab !important;
}

body.on-grabbing [data-action="move"] {
  cursor: grabbing !important;
}

.triangle-bg {
  background-image: url(../../assets/triangles.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

/* =========================================
   Background Colors
   ========================================= */
.bg-darkest {
  background: #42353c;
}

.bg-body {
  background: #282024 !important;
}

/* =========================================
   Text Colors
   ========================================= */
.text-pink {
  color: #ff66ab;
}

/* =========================================
   Section Heading Styles
   ========================================= */
.section-heading {
  border-bottom: 1px solid #ff66ab;
  border-radius: 0.5px;
}

.section-heading :first-child {
  display: inline-block;
  position: relative;
}

.section-heading :first-child::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -2px;
  background: #ff66ab;
  border-radius: 999px;
}

/* =========================================
   Modal Styles
   ========================================= */
.modal-box {
  background: #382e32 !important;
}

/* =========================================
   Placeholder Styles
   ========================================= */
.ph {
  position: relative;
}

.ph.no-center {
  text-align: start;
}

.ph:not(.no-center):after,
.ph:not(.no-center)::before {
  text-align: center;
}

.ph.ph-absolute-center::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ph.ph-notice::before,
.ph.ph-group::before,
.ph.ph-center::before,
.ph.ph-quote::before,
.ph.ph-spoilerbox::before,
.osu-style details summary:empty:not(:has(*))::after,
.osu-style li:empty:not(:has(*))::after {
  content: "Drop here";
  display: block;
  color: rgba(255, 255, 255, 0.25);
  letter-spacing: 4px;
  font-size: 12px;
  font-weight: 700;
}

.ph::after {
  font-family: "FontAwesome";
  color: rgba(255, 255, 255, 0.25);
  font-size: 2.5em;
  display: block;
}

.ph.ph-img::after {
  content: "\f03e";
}

.ph.ph-audio::after {
  content: "\f001";
}

.ph.ph-flag::after {
  content: "\f024";
}

.ph.ph-youtube::after {
  content: "\f16a";
}

.ph.ph-list::after {
  content: "\f03a";
}

.ph.ph-map::after {
  content: "\f279";
}

.ph.ph-center::after {
  content: "\f037";
}

.ph.ph-spacing::after {
  content: "\f07d";
}

.ph.ph-notice::after {
  content: "\f1b2";
}

.ph.ph-group::after {
  content: "\f247";
}

.ph.ph-spoilerbox::after {
  content: "\f0d7";
}

.ph.ph-quote::after {
  content: "\f10e";
}

._resizer {
  width: 12px;
  height: 12px;
  background-color: #ff66ab;
  position: absolute;
  bottom: 0;
  right: 0;
  clip-path: polygon(0 100%, 100% 0%, 100% 100%, 0% 100%);
  cursor: nwse-resize;
}

/* =========================================
   OSU Styles
   ========================================= */
.osu-style a:not([style*="color"]),
.link-pink {
  color: rgb(217, 166, 189);
  font-weight: initial;
}

p > em[style*="color"]:has(a) a,
p > strong[style*="color"]:has(a) a,
p > s[style*="color"]:has(a) a,
p > u[style*="color"]:has(a) a {
  color: inherit !important;
}

.osu-style strong a,
.osu-style a[href*="https://osu.ppy.sh/users/"]:not([href*="https://osu.ppy.sh/users/0"]):not([href*="https://osu.ppy.sh/users/1"]):not([href*="https://osu.ppy.sh/users/2"]):not([href*="https://osu.ppy.sh/users/3"]):not([href*="https://osu.ppy.sh/users/4"]):not([href*="https://osu.ppy.sh/users/5"]):not([href*="https://osu.ppy.sh/users/6"]):not([href*="https://osu.ppy.sh/users/7"]):not([href*="https://osu.ppy.sh/users/8"]):not([href*="https://osu.ppy.sh/users/9"])
{
  font-weight: 700 !important;
}

.osu-style a {
  font-weight: initial;
}

.osu-style details summary:not(:has(*)) {
  color: rgb(217, 166, 189);
  font-weight: 700;
}

.osu-style details summary {
  display: flex;
  align-items: start;
  gap: 14px;
  overflow: hidden;
}

.osu-style details summary > :first-of-type {
  flex-shrink: 0;
  flex-grow: 1;
}

.osu-style details summary [data-action="duplicate"] {
  display: none;
}

.osu-style center details summary {
  justify-content: center;
}

.osu-style details summary::before {
  flex-shrink: 0;
  content: "\f0da";
  font-family: "FontAwesome";
  color: #fff;
}

.osu-style details summary::after {
  flex-grow: 1;
}

.osu-style details[open] > summary::before {
  transform: rotate(90deg);
}

.osu-style details .spoilerbox-content {
  padding-left: 20px;
  margin-top: 0px;
}

.osu-style code {
  display: block;
  font-family: var(--bs-font-monospace);
  background: rgb(42, 34, 38);
  border-radius: 4px;
  padding: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.osu-style code.inline {
  display: inline;
  padding: 1px 4px;
  white-space: unset;
}

.osu-style .spoiler {
  background-color: #000 !important;
  color: #000 !important;
}

.osu-style blockquote {
  border: none;
  color: rgb(240, 219, 228);
  font-size: inherit;
  padding: 0 0 0 20px;
  position: relative;
}

.osu-style blockquote ._source {
  text-align: start;
  color: #fff;
  margin-bottom: 10px;
  font-weight: 700;
  word-break: break-all;
}

.osu-style blockquote::before {
  background-color: rgb(240, 219, 228);
  border-radius: 100px;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 2px;
}

.osu-style ul li::before {
  content: attr(data-title);
}

.osu-style ul li[data-title=""]:before {
  content: unset !important;
}

.osu-style ul {
  padding-left: 20px;
}

.osu-style ul.ol {
  list-style: decimal;
}

.osu-style .heading {
  color: rgb(224, 184, 202);
  font-size: 1.5em;
  font-weight: 700;
}

.osu-style .notice {
  background: rgb(42, 34, 38);
  border: 2px solid rgb(112, 92, 101);
  margin: 0;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  min-height: 20px;
  padding: 19px;
}

.osu-style .costum-audio {
  background: rgb(84, 69, 76);
  display: flex;
  align-items: center;
  height: 40px;
  max-width: 520px;
  padding: 5px 10px;
  width: 100%;
  gap: 15px;
  overflow: hidden;
}

.osu-style .costum-audio ._track {
  background: rgb(28, 23, 25);
  height: 2px;
  flex: 1;
}

.osu-style .imgmap-container {
  width: max-content;
  height: max-content;
  max-width: 100%;
  position: relative;
  overflow: hidden;
}

.osu-style .imgmap-container a {
  display: block;
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
  left: 0;
}

.osu-style iframe {
  max-width: 425px;
  aspect-ratio: 16 / 9;
  display: block;
  width: 100%;
}

body.view-mode .osu-style .spacing-item {
  display: block !important;
  height: calc(var(--spacing-level) * 17px);
}

body.view-mode .osu-style .spacing-item::after {
  all: unset;
}

body.view-mode .osu-style .heading,
body.view-mode .osu-style details .spoilerbox-content {
  margin-top: 10px;
}

body.view-mode .osu-style ul,
body.view-mode .osu-style code {
  margin-bottom: 10px;
}

body.view-mode .osu-style blockquote {
  margin-bottom: 20px;
}

body.view-mode .ph::after,
body.view-mode .ph::before,
body.view-mode .osu-style details summary:empty:not(:has(*))::after,
body.view-mode .osu-style li::after {
  all: unset;
}

body.view-mode .collapse {
  display: block !important;
}
